@import "./vars.css";

.App {
  background: radial-gradient(1200px 600px at 10% -10%, rgba(25,55,109,0.35) 0%, rgba(4,21,45,0) 50%),
    radial-gradient(1000px 500px at 110% 20%, rgba(87,108,188,0.25) 0%, rgba(4,21,45,0) 50%),
    linear-gradient(180deg, var(--color-bg) 0%, var(--color-dark) 100%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
